
<form [formGroup]="postGraduatesModalForm" (ngSubmit)="postGraduatesModal(postGraduatesModalForm.value)">

  <mat-form-field>
    <input matInput placeholder="Full Name" type="text" formControlName="full_name">
    <mat-error style="color: red" *ngIf="postGraduatesModalForm.get('full_name').invalid && (postGraduatesModalForm.get('full_name').dirty ||
      postGraduatesModalForm.get('full_name').touched) && postGraduatesModalForm.get('full_name').errors?.required">
      Please insert full name!
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Gender</mat-label>
    <mat-select formControlName="gender">
      <mat-option *ngFor="let gender of genders" [value]="gender.type">
        {{gender.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Phone number" type="number" formControlName="phone">
    <mat-error style="color: red" *ngIf="postGraduatesModalForm.get('phone').invalid && (postGraduatesModalForm.get('phone').dirty ||
      postGraduatesModalForm.get('phone').touched) && !postGraduatesModalForm.get('phone').errors?.minlength">
      Please insert phone number!
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email" type="text" formControlName="email">

  </mat-form-field>

  <mat-form-field >
    <mat-label>Team Name</mat-label>
    <mat-select formControlName="team">
      <div *ngIf="groupNames">
      <mat-option *ngFor="let groupName of groupNames.teams.data" [value]="groupName.name">
        {{groupName.name }}
      </mat-option>
    </div>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Academic Department" type="text" formControlName="acadamic_department">
    <mat-error style="color: red" *ngIf="postGraduatesModalForm.get('acadamic_department').invalid && (postGraduatesModalForm.get('acadamic_department').dirty ||
      postGraduatesModalForm.get('acadamic_department').touched) && !postGraduatesModalForm.get('acadamic_department').errors?.minlength">
      Please insert your department!
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="dp" placeholder="Graduation Year" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp
                    startView="multi-year"
                    (yearSelected)="chosenYearHandler($event, dp)"
                    panelClass="example-month-picker">
    </mat-datepicker>
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-button mat-raised-button color="primary" type="submit"  cdkFocusInitial >Add contact</button>
    <button mat-button (click)="onNoClick()">Cancel</button>
  </div>
</form>