<mat-card style="width: 1000px; margin-left: 30px; margin-top: 61px; font-size: x-large; font-weight: bolder">
    <h3 style="font-weight: normal">SMS Port</h3>
    <!--<h5 style="color: grey">List of all available SMS campaigns</h5>-->
    <button style="margin-bottom: 10px" color="primary" mat-raised-button (click)="openCreate()">Add new sms port</button>
</mat-card>


<!--<p style="font-weight: bolder; font-size: x-large"> Account User </p>-->
<!--&lt;!&ndash;<ol>&ndash;&gt;-->
<!--&lt;!&ndash;<li>&ndash;&gt;-->
<!--&lt;!&ndash;<mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;<input matInput [(ngModel)]="name" placeholder="What's your name?">&ndash;&gt;-->
<!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="create" style="color: yellow; width: 100%">&ndash;&gt;-->
<!--&lt;!&ndash;<li>&ndash;&gt;-->
<!--&lt;!&ndash;<button class="l1" mat-raised-button (click)="openDialog()">Create</button>&ndash;&gt;-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--&lt;!&ndash;<li *ngIf="animal">&ndash;&gt;-->
<!--&lt;!&ndash;You chose: <i>{{animal}}</i>&ndash;&gt;-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</ol>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<div class="container">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>

    <table style="width: 100%" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="port_name">
            <th mat-header-cell *matHeaderCellDef style="font-weight: bold">Port Name </th>
            <td mat-cell *matCellDef="let element"> {{element.port_name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="port_type">
            <th mat-header-cell *matHeaderCellDef style="font-weight: bold">Port Type </th>
            <td mat-cell *matCellDef="let element"> {{element.port_type}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="negarit_campaign_id">
            <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Negarit Campaign Id </th>
            <td mat-cell *matCellDef="let element"> {{element.negarit_campaign_id}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="negarit_sms_port_id">
            <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Negarit SMS Port Id </th>
            <td mat-cell *matCellDef="let element"> {{element.negarit_sms_port_id}} </td>
        </ng-container>

        <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Created At </th>
            <td mat-cell *matCellDef="let element"> {{element.created_at | date :'fullDate'}} </td>
        </ng-container>

        <ng-container matColumnDef="updated_at">
            <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Updated At </th>
            <td mat-cell *matCellDef="let element"> {{element.updated_at | date :'fullDate'}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Action </th>
            <td mat-cell *matCellDef="let element">
                <button mat-button="">
                    <mat-icon  mat-raised-button (click)="openUpdate(element)">edit</mat-icon></button>
                <button mat-button="">
                    <mat-icon style="color: red;" mat-raised-button
                              (click)="delete(element.id)">delete_outline</mat-icon></button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

