<p style="font-weight: bolder; font-size: x-large; margin-top: 61px; margin-left: 20px"> CONTACTS LIST </p>

<div style="margin-top: 30px; left: 30px ;display: flex; flex-flow: row">
<button style="height: 40px; left: 20px" mat-raised-button (click)="openCreate()">
  <mat-icon>add</mat-icon>
  Add Contact</button>
<button mat-button color="primary" style="height: 40px; left: 60px"  mat-raised-button (click)="openImportContact()">
  <i style="font-size: 22px" class="fa  fa-get-pocket"></i>
  Import Contact</button>
  <button mat-raised-button color="primary" style="height: 40px; left: 80px"   (click)="exportContact()">
  <i style="font-size: 22px" class="fa  fa-get-pocket"></i>
  export Contact</button>
<mat-form-field class="col-md-4"  style="left: 100px; margin-bottom: 10px">
  <input matInput (keyup)="applyFilter($event.target.value)"  placeholder="Search">
</mat-form-field>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)'}"></ngx-loading>

<div class="col-lg-12 col-md-12">
  <div class="card">
      <div class="card-header card-header-warning">
          <h4 class="card-title">Contacts</h4>
          <p class="card-category">list of under graduate contacts</p>
      </div>
    <div class="card-body table-responsive">
      <div class="container">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Full Name</th>
              <th>Gender</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Acadamic Department</th>
              <th>Graduation Year</th>
              <th>created By</th>
              <th>created at</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let contact of dataSource | paginate: { id: 'listing_pagination',
                                                          itemsPerPage: per_page,
                                                          currentPage: page,
                                                          totalItems: total }; let i = index">
            <td>{{i+1}}</td>
            <td>{{contact.full_name}}</td>
            <td>{{contact.gender}}</td>
            <td>{{contact.phone}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.Acadamic_department}}</td>
            <td>{{contact.graduation_year | date :'fullDate'}}</td>
            <td>{{contact.created_by}}</td>
            <td>{{contact.created_at | date :'fullDate'}}</td>
            <td>
              <button mat-button="">
                  <mat-icon  mat-raised-button (click)="openUpdate(element)">edit</mat-icon>
                </button>
                <button mat-button=""
                        mwlConfirmationPopover
                        [popoverTitle]="'Confirm Deletion'"
                        [popoverMessage]="'Are you sure you want to delete this contact'"
                        placement="left"
                        (confirm)="deleteContact(contact.id)"
                        (cancel)="cancelClicked = true"
                >

                  <mat-icon style="color: red;" mat-raised-button>delete_outline</mat-icon>
                </button>
            </td>
            </tr>
          </tbody>
        </table>
        <div>
          <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="collectionOfcon($event)"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>