<form [formGroup]="groupmessagesModalForm" (ngSubmit)="groupmessagesModal(groupmessagesModalForm.value)">

  <mat-form-field>
    <mat-label>Port Name</mat-label>
    <mat-select formControlName="port_name">
      <div *ngIf="smsPorts">
        <mat-option *ngFor="let smsPort of smsPorts.sms_ports.data" [value]="smsPort.port_name">
          {{smsPort.port_name }}
        </mat-option>
      </div>
    </mat-select>
    <mat-error style="color: red" *ngIf="groupmessagesModalForm.get('port_name').invalid && (groupmessagesModalForm.get('port_name').dirty ||
      groupmessagesModalForm.get('port_name').touched) && !groupmessagesModalForm.get('port_name').errors?.minlength">
      Please select port name!
    </mat-error>
  </mat-form-field>
  <mat-form-field >
    <mat-label>Group Name</mat-label>
    <mat-select formControlName="team">
      <div *ngIf="groupNames">
        <mat-option *ngFor="let groupName of groupNames.teams.data" [value]="groupName.name">
          {{groupName.name }}
        </mat-option>
      </div>
    </mat-select>
    <mat-error style="color: red" *ngIf="groupmessagesModalForm.get('team').invalid && (groupmessagesModalForm.get('team').dirty ||
      groupmessagesModalForm.get('team').touched) && !groupmessagesModalForm.get('team').errors?.minlength">
      Please select group name!
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="write a message " type="text" formControlName="message"></textarea>

  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-button mat-raised-button color="primary" type="submit"  cdkFocusInitial >Send Group Message</button>
    <button mat-button (click)="onNoClick()">Cancel</button>
  </div>
</form>