<div class="background">
  <div id="form">
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">

      <h1 style="text-align: center; font-weight: bolder">Login</h1>

      <!--<div class="sidebar-background" style="background-image: url(../../assets/img/sidebar-4.jpg)"></div>-->
      <mat-form-field>
        <input matInput placeholder="Email" type="text" formControlName="email">
        <mat-error style="color: red" *ngIf="loginForm.get('email').invalid && (loginForm.get('email').dirty ||
    loginForm.get('email').touched) && loginForm.get('email').errors?.required">
          Please insert email!
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <!--<i class="fas fa-lock" ></i>-->
        <input matInput placeholder="Password" type="password" formControlName="password">
        <mat-error style="color: red" *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty ||
    loginForm.get('password').touched) && loginForm.get('password').errors?.minlength">
          Please insert password!
        </mat-error>
      </mat-form-field>


      <button style="width: 100%" class="btn btn-danger btn-round" type="submit" [disabled]="loginForm.invalid">Login</button>
      <p style="text-align: center; padding-top: 10%">Don't have an account?</p>
      <button class="btn btn-outline-success btn-group-raised" style=" width: 50%; left: 25%  "  routerLink="/register">register</button>
    </form>
  </div>
</div>
