<p style="font-weight: bolder; font-size: x-large; margin-top: 61px; margin-left: 20px"> Team MESSAGES </p>

<div class="row p-3">

  <div class="col-3">
    <mat-expansion-panel  style="cursor: pointer; width: 100%;">
      <mat-expansion-panel-header >Under Graduate
      </mat-expansion-panel-header>
      <mat-list style="margin-top: 0">
        <mat-list-item>
          <a class="Flink" (click)="openForGroup()">
            <mat-icon style="margin-right: 5px">group</mat-icon>
            For Team</a>
        </mat-list-item>
        <mat-list-item>
          <a class="Flink" (click)="openForFellowship()">
            <i style="font-size: 22px" class="fa fa-users"></i>
            For Fellowship</a>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </div>

  <div class="col-3">
    <mat-expansion-panel style="cursor: pointer; width: 100%;">
      <mat-expansion-panel-header >Post Graduate
        <!--<mat-panel-title style="margin-top: 61px; left: 15px;">Periodic Messages</mat-panel-title>-->
      </mat-expansion-panel-header>
      <mat-list style="margin-top: 0">
        <mat-list-item>
          <a class="Flink" (click)="openForPostTeam()">
            <mat-icon style="margin-right: 5px">group</mat-icon>
            For Team</a>
        </mat-list-item>
        <mat-list-item>
          <a class="Flink" (click)="openForPostContacts()">
            <i style="font-size: 22px" class="fa fa-users"></i>
            For All Post Graduates</a>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </div>

  <div class="col-2">
    <button mat-raised-button (click)="forevent()">
      <mat-icon>add</mat-icon>
      Events Message
    </button>
  </div>

  <div class="col-4">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
  </div>

</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)'}"></ngx-loading>

<div class="col-lg-12 col-md-12">
  <div class="card">
      <div class="card-header card-header-warning">
          <h4 class="card-title">Team Messages</h4>
          <p class="card-category">list of team messages for under graduate members</p>
      </div>
    <div class="card-body table-responsive">
      <div class="container">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Message</th>
              <th>Team</th>
              <th>sent_by</th>
              <th>Date Time</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let message of dataSource | paginate: { id: 'listing_pagination',
                                                          itemsPerPage: per_page,
                                                          currentPage: page,
                                                          totalItems: total }; let i = index">
              <td>{{i+1}}</td>
              <td>{{message.message}}</td>
              <td>{{message.team_id}}</td>
              <td>{{message.sent_by.full_name}}</td>
              <td>{{message.created_at | date : 'fullDate'}}</td>
              <td>
                <button mat-button=""
                        mwlConfirmationPopover
                        [popoverTitle]="'Confirm Deletion'"
                        [popoverMessage]="'This message will never be seen again'"
                        placement="left"
                        (confirm)="removeGroupMessage(message.id)"
                        (cancel)="cancelClicked = true"
                >

                  <mat-icon style="color: red;" mat-raised-button>delete_outline</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="sentMessages($event)"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>