<form [formGroup]="periodicMessageEventModalForm" (ngSubmit)="periodicmessageEventModal(periodicMessageEventModalForm.value)">
  <mat-form-field>
    <mat-label>Port Name</mat-label>
    <mat-select formControlName="port_name">
      <div *ngIf="smsPorts">
        <mat-option *ngFor="let smsPort of smsPorts.sms_ports.data" [value]="smsPort.port_name">
          {{smsPort.port_name }}
        </mat-option>
      </div>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Type</mat-label>
    <mat-select formControlName="type">
      <mat-option *ngFor="let period of periods" [value]="period.type">
        {{period.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Starting Date" formControlName="start_date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="pickerTo" placeholder="End Date" formControlName="end_date">
    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
    <mat-datepicker #pickerTo></mat-datepicker>
  </mat-form-field>


  <mat-form-field>
    <input matInput placeholder="Sent Time" type="text" formControlName="sent_time">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Event" type="text" formControlName="event">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="write a message " type="text" formControlName="message"></textarea>

  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-button mat-raised-button color="primary" type="submit"  cdkFocusInitial >Send Message</button>
    <button mat-button (click)="onNoClick()">Cancel</button>
  </div>
</form>