<mat-spinner style="margin: 0 auto" *ngIf="!smsPorts"></mat-spinner>
<form [formGroup]="messageModalForm" (ngSubmit)="messageModal(messageModalForm.value)" *ngIf="smsPorts">

  <mat-form-field>
    <mat-label>Port Name</mat-label>
    <mat-select formControlName="port_name">
      <mat-option *ngFor="let smsPort of smsPorts.sms_ports.data" [value]="smsPort.port_name">
        {{smsPort.port_name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Phone number" type="text" formControlName="sent_to">
    <mat-error style="color: red" *ngIf="messageModalForm.get('sent_to').invalid && (messageModalForm.get('sent_to').dirty ||
      messageModalForm.get('sent_to').touched) && !messageModalForm.get('sent_to').errors?.minlength">
      Please insert phone number!
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="write a message " type="text" formControlName="message"></textarea>

  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-button mat-raised-button color="primary" type="submit"  cdkFocusInitial >Send Message</button>
    <button mat-button (click)="onNoClick()">Cancel</button>
  </div>
</form>