<!--<button mat-button (click)="onNoClick()">No Thanks</button>-->
<!--<h1 mat-dialog-title>Hi {{data.name}}</h1>-->
<!--<div mat-dialog-content>-->
<!--<p>What's your favorite animal?</p>-->
<!--<mat-form-field>-->
<!--<input matInput [(ngModel)]="data.animal">-->
<!--</mat-form-field>-->
<!--</div>-->

<form [formGroup]="groupContactsModalForm" (ngSubmit)="groupContactsModal(groupContactsModalForm.value)">

  <mat-form-field>
    <input matInput placeholder="First Name" type="text" formControlName="firstname">
    <mat-error style="color: red" *ngIf="groupContactsModalForm.get('firstname').invalid && (groupContactsModalForm.get('firstname').dirty ||
      groupContactsModalForm.get('firstname').touched) && groupContactsModalForm.get('firstname').errors?.required">
      Please insert first name!
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Last Name" type="text" formControlName="lastname">
    <mat-error style="color: red" *ngIf="groupContactsModalForm.get('lastname').invalid && (groupContactsModalForm.get('lastname').dirty ||
      groupContactsModalForm.get('lastname').touched) && !groupContactsModalForm.get('lastname').errors?.minlength">
      Please insert last name!
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Phone number" type="text" formControlName="phone">
    <mat-error style="color: red" *ngIf="groupContactsModalForm.get('phone').invalid && (groupContactsModalForm.get('phone').dirty ||
      groupContactsModalForm.get('phone').touched) && !groupContactsModalForm.get('phone').errors?.minlength">
      Please insert phone number!
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>University</mat-label>
    <mat-select formControlName="university">
      <mat-option *ngFor="let university of universities" [value]="university.value">
        {{university.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!--<button mat-raised-button color="primary" type="submit" >Add contact</button>-->
  <div mat-dialog-actions>
    <button mat-button mat-raised-button color="primary" type="submit"  cdkFocusInitial >Add contact</button>
    <button mat-button (click)="onNoClick()">No Thanks</button>
  </div>
</form>