<p style="font-weight: bolder; font-size: x-large; margin-top: 61px; margin-left: 20px"> REGISTRATION MESSAGES </p>

<div class="row p-3">

  <div class="col-4">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" style="cursor: pointer">
      <mat-expansion-panel-header >Registration Message
      </mat-expansion-panel-header>
      <mat-list style="margin-top: 0">
        <mat-list-item>
          <a class="Flink" (click)="forGroup()">
            <mat-icon style="margin-right: 5px">group</mat-icon>
            For Group</a>
        </mat-list-item>
        <mat-list-item>
          <a class="Flink" (click)="forContact()">
            <mat-icon style="margin-right: 5px">perm_contact_calender</mat-icon>
            For Contact</a>
        </mat-list-item>
        <mat-list-item>
          <a class="Flink" (click)="forEvent()">
            <mat-icon style="margin-right: 5px">event_note</mat-icon>
            For Event</a>
        </mat-list-item>

        <mat-list-item>
          <a class="Flink" (click)="forFellowship()">
            <mat-icon style="margin-right: 5px">event_note</mat-icon>
            For Fellowship</a>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </div>

  <div class="col-8">
    <mat-form-field style="margin-bottom: 10px">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>

  </div>

</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)'}"></ngx-loading>

<div class="col-lg-12 col-md-12">
  <div class="card">
      <div class="card-header card-header-warning">
          <h4 class="card-title">Registration Messages</h4>
          <p class="card-category">list of sent messages for registrations</p>
      </div>
    <div class="card-body table-responsive">
      <div class="container">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Message</th>
              <th>Registration Key</th>
              <th>Sent To</th>
              <th>Sent Time</th>
              <th>Sent By</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let message of dataSource | paginate: { id: 'listing_pagination',
                                                          itemsPerPage: per_page,
                                                          currentPage: page,
                                                          totalItems: total }; let i = index">
              <td>{{i+1}}</td>
              <td>{{message.message}}</td>
              <td>{{message.registration_key_id}}</td>
              <td>{{message.sent_to}}</td>
              <td>{{message.sent_time}}</td>
              <td>{{message.sent_by.full_name}}</td>
              <td>
                <button mat-button=""
                        mwlConfirmationPopover
                        [popoverTitle]="'Confirm Deletion'"
                        [popoverMessage]="'Are you sure you want to remove this registration message?'"
                        placement="left"
                        (confirm)="deleteRegistrationMessage(message.id)"
                        (cancel)="cancelClicked = true"
                >

                  <mat-icon style="color: red;" mat-raised-button>delete_outline</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="getRegisterationMessage($event)"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>