<p style="font-weight: bolder; font-size: x-large; margin-top: 61px; margin-left: 20px"> SENT MESSAGES </p>

<div style="margin-top: 30px; left: 30px ;display: flex; flex-flow: row">
  <!-- <button mat-raised-button style="height: 40px; left: 20px" (click)="openCreate()">
    <mat-icon>add</mat-icon>
    New Message
  </button> -->
  <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sent Message</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="textarea" id="defaultForm-email" class="form-control validate">
          <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          <input type="password" id="defaultForm-pass" class="form-control validate">
          <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
        </div>

      </div> -->
      <form [formGroup]="messageModalForm" (ngSubmit)="sendMessage(messageModalForm.value)">
        <div style="margin-left:5%; margin-right:5%" >
        <mat-form-field>
          <mat-label>Sms Port</mat-label>
          <mat-select formControlName="port_name">
            <div *ngIf="smsPorts">
            <mat-option *ngFor="let smsPort of smsPorts"  [value]="smsPort.port_name">
              {{smsPort.port_name }}
            </mat-option>
          </div>
          </mat-select>
          <mat-error style="color: red" *ngIf="messageModalForm.get('port_name').invalid && (messageModalForm.get('port_name').dirty ||
            messageModalForm.get('port_name').touched) && !messageModalForm.get('port_name').errors?.minlength">
            Please insert Sms Port!
          </mat-error>
        </mat-form-field>
      </div>
        <div class="modal-body mx-3">
        <mat-form-field>
          <input matInput placeholder="Phone number" type="number" formControlName="sent_to">
          <mat-error style="color: red" *ngIf="messageModalForm.get('sent_to').invalid && (messageModalForm.get('sent_to').dirty ||
            messageModalForm.get('sent_to').touched) && !messageModalForm.get('sent_to').errors?.minlength">
            Please insert phone number!
          </mat-error>
        </mat-form-field>
      </div>
      <div class="md-form mb-4" style="margin-left:3%; margin-right:3%" >
        <mat-form-field >
          <textarea matInput placeholder="write a message " type="text" formControlName="message"></textarea>
          <mat-error style="color: red" *ngIf="messageModalForm.get('message').invalid && (messageModalForm.get('message').dirty ||
            messageModalForm.get('message').touched) && !messageModalForm.get('message').errors?.minlength">
            Please insert a message!
          </mat-error>
        </mat-form-field>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <!-- <button class="btn btn-default">Login</button> -->
        <button mat-button mat-raised-button color="primary" type="submit" cdkFocusInitial >Send Message</button>
          <button mat-button data-dismiss="modal">Cancel</button>
      </div>
      </form>
    </div>
  </div>
</div>

<div class="text-center">
  <a href="" class="btn btn-default btn-rounded mb-4" style="height: 40px; left: 20px" data-toggle="modal" data-target="#modalLoginForm">New Message</a>
</div>
  <mat-form-field class="col-md-4"  style="left: 100px; margin-bottom: 10px">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)'}"></ngx-loading>
<div class="col-lg-12 col-md-12">
  <div class="card">
      <div class="card-header card-header-warning">
          <h4 class="card-title">Messages</h4>
          <p class="card-category">list of sent messages for Fellowship members</p>
      </div>
    <div class="card-body table-responsive">
      <div class="container">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Message</th>
              <th>Sent To</th>
              <th>sent|deliverd</th>
              <th>sent_by</th>
              <th>Date Time</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let message of dataSource | paginate: { id: 'listing_pagination',
                                                          itemsPerPage: per_page,
                                                          currentPage: page,
                                                          totalItems: total }; let i = index">
              <td>{{i+1}}</td>
              <td>{{message.message}}</td>
              <td>{{message.sent_to}}</td>
              <td>{{message.is_sent}}|{{message.is_delivered}}</td>
              <td>{{message.sent_by.full_name}}</td>
              <td>{{message.created_at | date : 'fullDate'}}</td>
              <td>
                <button mat-button=""
                        mwlConfirmationPopover
                        [popoverTitle]="'Confirm Deletion'"
                        [popoverMessage]="'This message will never be seen again'"
                        placement="left"
                        (confirm)="removeMessage(message.id)"
                        (cancel)="cancelClicked = true"
                >

                  <mat-icon style="color: red;" mat-raised-button>delete_outline</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="sentMessages($event)"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>