<!-- <div class="logo">
    <a href="https://www.creative-tim.com" class="simple-text">
        FM Fellowship Mangement System
    </a>
</div> -->
<div class="logo">
    <mat-expansion-panel style="cursor: pointer; margin-left: 10%; margin-right: 5%">
    <mat-expansion-panel-header style="margin-bottom: 0">
        <mat-panel-title> <i class="fa fa-user" style="margin-right: 10%; font-size: 22px"></i> {{user}} </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list style="margin-top: 0;">
        <mat-list-item>
            <span style="margin-right: 10%;">MP</span>
            <a class="Flink" routerLink="/my-profile">
                My Profile</a>
        </mat-list-item>
        <mat-list-item>
            <span style="margin-right: 10%;">EP</span>
            <a class="Flink" routerLink="/edit-profile">
                Edit Profile</a>
        </mat-list-item>
        <mat-list-item>
            <span style="margin-right: 10%;">CP</span>
            <a class="Flink" routerLink="/edit-password">
                Change Password</a>
        </mat-list-item>
    </mat-list>
    </mat-expansion-panel>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
  </div>
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <mat-expansion-panel *ngIf="menuItem.title === 'Contacts'" style="cursor: pointer; ">
                <mat-expansion-panel-header style="margin-bottom: 0">
                    <mat-panel-title> <i class="material-icons">{{menuItem.icon}}</i> Contacts </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list style="margin-top: 0">
                    <mat-list-item>
                        <a class="Flink" routerLink="/contacts">
                            <i style="font-size: 22px" class="fa fa-user"></i>
                            Contacts List</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a class="Flink" routerLink="/group-contacts">
                            <i style="font-size: 22px" class="fa fa-users"></i>
                            Teams</a>
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>
            <mat-expansion-panel *ngIf="menuItem.title === 'Post Graduates'" style="cursor: pointer;">
                <mat-expansion-panel-header style="margin-bottom: 0">
                    <mat-panel-title><i class="material-icons">{{menuItem.icon}}</i> Post Graduates</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list style="margin-top: 0">
                    <mat-list-item>
                        <a class="Flink"   routerLink="/post-graduates">
                            <i style="font-size: 22px" class="fa fa-user"></i>
                            Graduates List</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a class="Flink" routerLink="/post-graduates-groups">
                            <i style="font-size: 22px" class="fa fa-users"></i>
                            Graduates Team</a>
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="menuItem.title === 'Events'" style="cursor: pointer;">
                <mat-expansion-panel-header style="margin-bottom: 0">
                    <mat-panel-title><i class="material-icons">{{menuItem.icon}}</i>Events</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list style="margin-top: 0">
                    <mat-list-item>
                        <a class="Flink" routerLink="/events">
                            <i style="font-size: 22px" class="material-icons">{{menuItem.icon}}</i>
                            events</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a class="Flink"   routerLink="/registration-keys">
                            <i style="font-size: 22px" class="fa fa-key"></i>
                            registration key</a>
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>
            <mat-expansion-panel *ngIf="menuItem.title === 'Messages'" style="padding: 0">
                <mat-expansion-panel-header style="margin-bottom: 0">
                    <mat-panel-title>
                        <i class="material-icons">{{menuItem.icon}}</i>
                        Message
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list style="margin-top: 0">
                    <mat-list-item>
                        <a style="margin-right: 5px" class="Flink" routerLink="/messages">
                            <i style="font-size: 20px" class="fa fa-envelope-open"></i>
                            Sent Messages</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a style="margin-right: 5px" class="Flink" routerLink="/received-messages">
                            <i style="font-size: 22px" class="fa fa-inbox"></i>
                            Received Messages</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a style="margin-right: 5px" class="Flink" routerLink="/group-messages">
                            <i style="font-size: 22px" class="fa fa-comments"></i>
                            Group Messages</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a style="margin-right: 5px" class="Flink" routerLink="/periodic-message">
                            <i style="font-size: 20px" class="fa fa-bell"></i>
                            Periodic Messages</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a style="margin-right: 5px" class="Flink" routerLink="/scheduled-message">
                            <i style="font-size: 20px" class="fa fa-hourglass-end"></i>
                            Scheduled Messages</a>
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>

            

            <a class="nav-link" [routerLink]="menuItem.path"
               *ngIf="menuItem.title !== 'Contacts' && menuItem.title !== 'Messages' && menuItem.title !== 'Post Graduates' && menuItem.title !== 'Events'">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>

