<mat-card style=" margin: 10% 5% 0 5%; height: 50%" *ngIf="event_detail">
  <section>
      <h1 style="font-size: 20px; font-weight: bold" >{{event_detail.event.event_name | uppercase}}</h1>
      <p style="color: #9d9d9d">{{event_detail.event.description}}</p>
    </section>

  <button routerLink="/events" mat-button style="margin-top: 1%; margin-bottom: 2%; color: forestgreen; font-weight: bolder">
    <mat-icon>reply</mat-icon>Back to Events</button><br>
  <button style="margin-top: 1%; margin-bottom: 2%; left: 3%; " class="btn btn-danger btn-round" (click)="openCreate()">Add New contact</button>
  <button class="btn btn-primary btn-round" mat-button color="primary" style="margin-top: 1%; margin-bottom: 2%; left: 6%"  (click)="openImportContact()"> Import Contact  </button>
  <button style="margin-top: 1%; margin-bottom: 2%; left: 8%; " class="btn btn-danger btn-round" (click)="assign()">Assign Members</button>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)'}"></ngx-loading>
  <div class="col-lg-12 col-md-12">
    <div class="card">
        <div class="card-header card-header-warning">
            <h4 class="card-title">Contacts</h4>
            <p class="card-category">list of members in a {{event_detail.event.event_name}} event</p>
        </div>
      <div class="card-body table-responsive">
        <div class="container">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Full Name</th>
                <th>Gender</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Acadamic Department</th>
                <th>Graduation Year</th>
                <th>created By</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contact of dataSource | paginate: { id: 'listing_pagination',
                                                            itemsPerPage: per_page,
                                                            currentPage: page,
                                                            totalItems: total }; let i = index">
              <td>{{i+1}}</td>
              <td>{{contact.full_name}}</td>
              <td>{{contact.gender}}</td>
              <td>{{contact.phone}}</td>
              <td>{{contact.email}}</td>
              <td>{{contact.Acadamic_department}}</td>
              <td>{{contact.graduation_year | date :'fullDate'}}</td>
              <td>{{contact.created_by}}</td>
              <td>
                <button mat-button="">
                      <mat-icon  mat-raised-button (click)="openUpdate(element)">edit</mat-icon>
                    </button>
                    <button mat-button=""
                            mwlConfirmationPopover
                            [popoverTitle]="'Confirm Deletion'"
                            [popoverMessage]="'Are you sure you want to delete this contact'"
                            placement="left"
                            (confirm)="deleteEventContact(contact.id)"
                            (cancel)="cancelClicked = true"
                    >

                      <mat-icon style="color: red;" mat-raised-button>delete_outline</mat-icon>
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div>
            <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="EventMembers($event)"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
