<div class="container">
  <div class="background">
    <div id="register-main">

      <h1 id="register-name">Register</h1>
      <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">

        <mat-form-field>
          <input matInput placeholder="First Name" type="text" formControlName="firstname">
          <mat-error style="color: red" *ngIf="registerForm.get('firstname').invalid && (registerForm.get('firstname').dirty ||
          registerForm.get('firstname').touched) && registerForm.get('firstname').errors?.required">
            Please insert first name!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Last Name" type="text" formControlName="lastname">
          <mat-error style="color: red" *ngIf="registerForm.get('lastname').invalid && (registerForm.get('lastname').dirty ||
          registerForm.get('lastname').touched) && !registerForm.get('lastname').errors?.minlength">
            Please insert last name!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Phone number" type="text" formControlName="phonenumber">
          <mat-error style="color: red" *ngIf="registerForm.get('phonenumber').invalid && (registerForm.get('phonenumber').dirty ||
          registerForm.get('phonenumber').touched) && !registerForm.get('phonenumber').errors?.minlength">
            Please insert phone number!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>University</mat-label>
          <mat-select fromControlName="university">
            <mat-option *ngFor="let university of universities" [value]="university.value">
              {{university.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Email" type="text" formControlName="email">
          <mat-error style="color: red" *ngIf="registerForm.get('email').invalid && (registerForm.get('email').dirty ||
          registerForm.get('email').touched) && !registerForm.get('email').errors?.minlength">
            Please insert email address!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Password" type="password" formControlName="password">
          <mat-error style="color: red" *ngIf="registerForm.get('password').invalid && (registerForm.get('password').dirty ||
          registerForm.get('password').touched) && !registerForm.get('password').errors?.minlength">
            Please insert Password!
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" >Register</button>
      </form>

    </div>
  </div>
</div>
